<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>UserLogin</servlet-name>
        <servlet-class>controller.UserLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserRegister</servlet-name>
        <servlet-class>controller.UserRegister</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserHomeServlet</servlet-name>
        <servlet-class>controller.UserHomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServiceIntroServlet</servlet-name>
        <servlet-class>controller.ServiceIntroServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateAccount</servlet-name>
        <servlet-class>controller.CreateAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginGoogle</servlet-name>
        <servlet-class>controller.LoginGoogle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>controller.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CRUDService</servlet-name>
        <servlet-class>controller.ServiceListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServiceDetailServlet</servlet-name>
        <servlet-class>controller.ServiceDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditService</servlet-name>
        <servlet-class>controller.EditServiceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteServiceServlet</servlet-name>
        <servlet-class>controller.DeleteServiceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServiceAddServlet</servlet-name>
        <servlet-class>controller.ServiceAddServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>controller.Home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateAccountStaff</servlet-name>
        <servlet-class>controller.CreateAccountStaff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePassword</servlet-name>
        <servlet-class>controller.ChangePassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeEmail</servlet-name>
        <servlet-class>controller.ChangeEmail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Verify</servlet-name>
        <servlet-class>controller.Verify</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserLogin</servlet-name>
        <url-pattern>/userlogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserRegister</servlet-name>
        <url-pattern>/userregister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserHomeServlet</servlet-name>
        <url-pattern>/userhome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServiceIntroServlet</servlet-name>
        <url-pattern>/serviceintro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateAccount</servlet-name>
        <url-pattern>/createaccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginGoogle</servlet-name>
        <url-pattern>/logingoogle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePassword</servlet-name>
        <url-pattern>/changepassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeEmail</servlet-name>
        <url-pattern>/changeemail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CRUDService</servlet-name>
        <url-pattern>/servicelist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServiceDetailServlet</servlet-name>
        <url-pattern>/servicedetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditService</servlet-name>
        <url-pattern>/serviceedit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteServiceServlet</servlet-name>
        <url-pattern>/servicedelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServiceAddServlet</servlet-name>
        <url-pattern>/serviceadd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateAccountStaff</servlet-name>
        <url-pattern>/createaccountstaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Verify</servlet-name>
        <url-pattern>/verify</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>
</web-app>
