<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <filter>
        <filter-name>CustomerPermissionFilter</filter-name>
        <filter-class>utils.filter.CustomerPermissionFilter</filter-class>
    </filter>
    <filter>
        <filter-name>StaffPermissionFilter</filter-name>
        <filter-class>utils.filter.StaffPermissionFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CustomerPermissionFilter</filter-name>
        <url-pattern>/user/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>StaffPermissionFilter</filter-name>
        <url-pattern>/managerPage</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>UserLogin</servlet-name>
        <servlet-class>controller.UserLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserRegister</servlet-name>
        <servlet-class>controller.UserRegister</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>News</servlet-name>
        <servlet-class>controller.guest.NewsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewsDetail</servlet-name>
        <servlet-class>controller.NewsDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserHomeServlet</servlet-name>
        <servlet-class>controller.user.UserHomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServiceIntroServlet</servlet-name>
        <servlet-class>controller.ServiceIntroServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateAccount</servlet-name>
        <servlet-class>controller.staff.CreateAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginGoogle</servlet-name>
        <servlet-class>controller.LoginGoogle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>controller.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePassword</servlet-name>
        <servlet-class>model.ChangePassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeEmail</servlet-name>
        <servlet-class>model.ChangeEmail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNewsServlet</servlet-name>
        <servlet-class>controller.staff.AddNews</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewsManager</servlet-name>
        <servlet-class>controller.staff.NewsManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewsDelete</servlet-name>
        <servlet-class>controller.staff.NewsDelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CRUDService</servlet-name>
        <servlet-class>controller.ServiceListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServiceDetailServlet</servlet-name>
        <servlet-class>controller.ServiceDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditService</servlet-name>
        <servlet-class>controller.staff.EditServiceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteServiceServlet</servlet-name>
        <servlet-class>controller.staff.DeleteServiceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServiceAddServlet</servlet-name>
        <servlet-class>controller.staff.ServiceAddServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserhomeNewsServlet</servlet-name>
        <servlet-class>controller.user.UserhomeNewsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>controller.guest.Home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CRUDService</servlet-name>
        <servlet-class>controller.ServiceListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServiceDetailServlet</servlet-name>
        <servlet-class>controller.ServiceDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditService</servlet-name>
        <servlet-class>controller.EditServiceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteServiceServlet</servlet-name>
        <servlet-class>controller.DeleteServiceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServiceAddServlet</servlet-name>
        <servlet-class>controller.ServiceAddServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserhomeNewsServlet</servlet-name>
        <servlet-class>controller.UserhomeNewsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>controller.Home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditNews</servlet-name>
        <servlet-class>controller.EditNews</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserLogin</servlet-name>
        <url-pattern>/userlogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserRegister</servlet-name>
        <url-pattern>/userregister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>News</servlet-name>
        <url-pattern>/News</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewsDetail</servlet-name>
        <url-pattern>/NewsDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserHomeServlet</servlet-name>
        <url-pattern>/user/userhome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServiceIntroServlet</servlet-name>
        <url-pattern>/serviceintro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateAccount</servlet-name>
        <url-pattern>/createaccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginGoogle</servlet-name>
        <url-pattern>/logingoogle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePassword</servlet-name>
        <url-pattern>/changepassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeEmail</servlet-name>
        <url-pattern>/changeemail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CRUDService</servlet-name>
        <url-pattern>/servicelist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServiceDetailServlet</servlet-name>
        <url-pattern>/servicedetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditService</servlet-name>
        <url-pattern>/serviceedit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteServiceServlet</servlet-name>
        <url-pattern>/servicedelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServiceAddServlet</servlet-name>
        <url-pattern>/serviceadd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserhomeNewsServlet</servlet-name>
        <url-pattern>/userhomenews</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNewsServlet</servlet-name>
        <url-pattern>/AddNews</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewsManager</servlet-name>
        <url-pattern>/newsmanage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewsDelete</servlet-name>
        <url-pattern>/newsdelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditNews</servlet-name>
        <url-pattern>/EditNews</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>
</web-app>
