.bt{
    border-radius: 5px;
}

.bt:hover{
    background-color: red;
}

.bt p{
    margin-bottom: 0px;
}

.tourName{
    width: 220px;
}

input {
    margin: 5px;
    border-radius: 5px;
}

select {
    margin: 5px;
    border-radius: 5px;
    border: 1px solid black;
}

.div_head {
    display: flex;
    height: 100%;
}

.div_1{
    margin-top: 10px;
    background-color:  #FFFFFF;
    width: 30%;
    height: 100%;
}

.div_2{
    background-color: #ECECEC;
    width: 70%;
    height: 100%;
}
 
body {
    height: 704px;
}

.depatureDay{
    width: 130px;
}

.returnDay{
    width: 130px;
}

.descript{
    margin: 10px;
}
.slotPeople{
    width: 50px;
}
.slotTour{
    width: 50px;
}
.div_head1{
    height: 100%;
}
.price{
    width: 80px;
}
.discount{
    width: 50px;
}
textarea {
    min-width: 700px;
    resize: vertical; /* Cho phép thay đổi kích thước theo chiều dọc */
    min-height: 150px; /* Chiều cao tối thiểu */
    border-radius: 10px;
}

input[type="submit"] {
    background-color: #4CAF50; /* Màu nền */
    color: white; /* Màu chữ */
    padding: 10px 20px; /* Đệm */
    border: none; /* Bỏ viền */
    border-radius: 5px; /* Bo tròn góc cạnh */
    cursor: pointer; /* Con trỏ chuột */
    font-size: 16px; /* Kích thước chữ */
}

input[type="submit"]:hover {
    background-color: #45a049; /* Màu nền khi hover */
}

img {
    border: 1px solid black;
}

